body {
  margin: 0;
  padding-top: 56px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-container {
  background-image: url('../src/Img/Biblioteca\ della\ Crociera\ 1.jpg'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  opacity: 0.9;
}

.appunti-container {
  background-image: url('../src/Img/biblioteca\ \(1\).jpg'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  opacity: 0.9;
}

.login-container {
  background-image: url('../src/Img/Mov.-Biblioteca_Riall..jpg'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  opacity: 0.9;
}

.text-center h1 {
  font-size: 3.2 rem; 
  font-weight: bold;
}

.text-center h6 {
  font-size: 1.25 rem;
}

.footer {
background-color: #6C757D;
      color: white;
        
}
 .details{
  background-image: url('../src/Img/Mov.-Biblioteca_Riall..jpg')
 }

